@mixin upper ($size, $weight, $bool) {
  color: white;
  text-align: center;

  @if $bool == "true" {
    text-transform: uppercase;
  }
  font-weight: $weight;
  font-size: $size;
}
@mixin section ($colorOp) {
  background-color: rgba(0, 0, 0, $colorOp);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
@mixin transition {
  -webkit-transition: max-height 0.5s;
     -moz-transition: max-height 0.5s;
       -o-transition: max-height 0.5s;
          transition: max-height 0.5s;
}
@mixin teachercard ($url) {
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 350px;
  margin-bottom: 30px;

  //border: solid 3px white;
  .teacherimg{
    background-image: url($url);
    background-position: center;
    background-size: cover;
    width: 350px;
    height: 350px;
    margin: 0;
  }
  h3{
    @include upper(2em, bolder, "true");
    margin: 30px 0;
  }
  .teachcontent{
    width: 90%;
    @include transition;
    p {
      margin: 10px 0;
    }
  }
}
